@using System.Globalization
@model CalendarViewModel

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .card {
        width: 190px;
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .card button {
        background-color: forestgreen;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .card button:hover {
                background-color: darkgreen;
    }

</style>
@using (Html.BeginForm("Index", "Calendar", FormMethod.Post))
{
    <div class="row align-items-end">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, "Data de Inicio:")
                @Html.TextBoxFor(m => m.StartDate, new { @type = "date", @class = "form-control form-control-sm", @min = "2023-01-01", @id = "StartDateField" })
                <span class="text-danger" asp-validation-for="StartDate"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate, "Data de Fim:")
                @Html.TextBoxFor(m => m.EndDate, new { @type = "date", @class = "form-control form-control-sm", @id = "EndDateField" })
                <span class="text-danger" asp-validation-for="EndDate"></span>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-sm float-end">Pesquisar</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-secondary btn-sm float-end" onclick="window.location.href='@Url.Action("Index", "Calendar")'">Limpar</button>
        </div>
        @if (TempData["IncompleteDates"] != null && (bool)TempData["IncompleteDates"])
        {
            <script>
                alert("Tem de preencher ambas as datas.");
            </script>
        }

        @section scripts {
            <script>
                $(document).ready(function () {
                    $("#StartDate, #EndDate").on("change", function () {
                        var startDate = $("#StartDate").val();
                        var endDate = $("#EndDate").val();

                        if (startDate && endDate && startDate > endDate) {
                            alert("Introduza um intervalo válido.");
                            $("#EndDate").val("");
                            $("#StartDate").val("");
                        }
                    });
                    $("#StartDateField").on("change", function () {
                        var startDate = new Date($(this).val());
                        var oneMonthAfter = new Date(startDate.getFullYear(), startDate.getMonth() + 1, startDate.getDate());
                        var minEndDate = oneMonthAfter.toISOString().split('T')[0];

                        $("#EndDateField").attr('min', minEndDate);
                    });
                });
            </script>
        }
        <div class="col-md-1" style="padding-left: 30px;">
            <div class="form-check">
                @{
                    bool agendadoChecked = TempData["AgendadoChecked"] != null ? (bool)TempData["AgendadoChecked"] : false;
                }
                <input class="form-check-input" type="checkbox" id="agendadoCheckbox" name="agendadoCheckbox" value="true" @(agendadoChecked ? "checked" : "")>
                <input type="hidden" name="agendadoCheckbox" value="false">
                <label class="form-check-label" for="agendadoCheckbox">
                    Agendado
                </label>
            </div>
        </div>
        <div class="col-md-2" style="padding-left: 30px;">
            <div class="form-check">
                @{
                    bool concluidoChecked = TempData["ConcluidoChecked"] != null ? (bool)TempData["ConcluidoChecked"] : false;
                }
                <input class="form-check-input" type="checkbox" id="concluidoCheckbox" name="concluidoCheckbox" value="true" @(concluidoChecked ? "checked" : "")>
                <input type="hidden" name="concluidoCheckbox" value="false"/>
                <label class="form-check-label" for="concluidoCheckbox">
                    Concluído
                </label>
            </div>
        </div>
    </div>

    <table>
        <tbody>
        @* Create a header row for months *@
        <tr>
            @foreach (var month in Model.Months)
            {
                <th>@month</th>
            }
        </tr>

        @* Iterate through services and create rows dynamically based on month *@
        @foreach (var service in Model.Data.SelectMany(x => x))
        {
            <tr>
                @* Check month of service and create corresponding data cells *@
                @foreach (var month in Model.Months)
                {
                    @if (service.ServPrazo.Month == DateTime.ParseExact(month, "MMMM yyyy", CultureInfo.CreateSpecificCulture("pt-PT")).Month)
                    {
                        <td>
                            <div class="card">
                                    <button type="submit" asp-controller="Services" asp-action="Details" asp-route-id="@service.IdServico" style="text-align: left;">
                                        <h5>@service.IdServico</h5>
                                        <p style="font-size: 15px;"><b>Veiculo</b></p>
                                        <p>Matricula: @service.ServMatriculaVeiculo</p>
                                        <p>Marca: @service.ServMarcaVeiculo</p>
                                        <p>Modelo: @service.ServModeloVeiculo</p>
                                        <p style="font-size: 15px; text-align: right;"><b>Detalhes</b></p>
                                    </button>

                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
}