@model CSSC.Models.Services

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dd{
        text-align: left;
    }
    dt{
        text-align: right;
    }

    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }
</style>
<div class="text-center">
    <h1>Remover</h1>
    <h3>Tem a certeza que deseja remover este serviço?</h3>
</div>
<div class="text-center">
    <hr />
    <dl class="row">
        <dt class = "col-sm-5" hidden>
            @Html.DisplayNameFor(model => model.ServIdUtilizador)
        </dt>
        <dd class = "col-sm-5" hidden>
            @Html.DisplayFor(model => model.ServIdUtilizador)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ServMarcaVeiculo)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ServMarcaVeiculo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ServModeloVeiculo)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ServModeloVeiculo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ServMatriculaVeiculo)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ServMatriculaVeiculo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ServClassificacao)
        </dt>
        <dd class="col-sm-5">
            @if (string.IsNullOrEmpty(Model.ServClassificacao.ToString()))
            {
                <text>Não tem nenhuma classificação</text>
            }
            else
            {
                @Html.DisplayFor(model => model.ServClassificacao)
            }
        </dd>

        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ServComentario)
        </dt>
        <dd class="col-sm-5">
            @if (Model.ServComentario == null || string.IsNullOrEmpty(Model.ServComentario.ToString()))
            {
                <text>Não contém nenhum comentário</text>
            }
            else
            {
                @Html.DisplayFor(model => model.ServComentario)
            }
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ServPrazo)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ServPrazo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EstadoDoServico)
        </dt>
        <dd class="col-sm-5" >
            @Html.DisplayFor(model => model.EstadoDoServico)
        </dd>
    </dl>
</div>
<div class="form-group d-flex justify-content-center mt-3">
    <div style="margin-right: 100px;">
        <a asp-action="Index" class="btn btn-secondary" style="background-color: #E36D3F; border-color: white;">Voltar</a>
    </div>
    <div style="margin-left: 100px;">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdServico" />
            <input type="submit" value="Remover" class="btn btn-danger" style="background-color: #B22222; border-color: white;" />
        </form>
    </div>
</div>
