@model CSSC.Models.Services

@{
    ViewData["Title"] = "Detalhes do serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <br />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdServico)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.IdServico)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ServMarcaVeiculo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ServMarcaVeiculo)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ServModeloVeiculo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ServModeloVeiculo)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ServMatriculaVeiculo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ServMatriculaVeiculo)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ServPrazo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ServPrazo)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.IdServico">Edit</a> |*@
    <a href="javascript:history.back()">Voltar</a>
</div>
