@model CSSC.Models.Services
@using CSSC.Controllers

@{
    ViewData["Title"] = "Detalhes do serviço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 88%;
    }

    .option {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; /* Align circles in the center vertically */
    }

    .circle {
        border: 1px solid #ddd;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin-bottom: 10px; /* Add space between circles */
    }

    .text {
        font-size: 14px;
    }

    /* CSS para círculo verde */
    .circle.green {
        background-color: #45e745; /* Cor verde */
    }
</style>

<h1>Detalhes</h1>

<div>
    <hr />
    <br />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdServico)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.IdServico)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ServMarcaVeiculo)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ServMarcaVeiculo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ServModeloVeiculo)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ServModeloVeiculo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ServMatriculaVeiculo)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ServMatriculaVeiculo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ServPrazo)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ServPrazo)
        </dd>
    </dl>
</div>

<div align="right">
    <button type="submit" class="btn btn-secondary" style="background-color: #45e745; border-color: #45e745; color:black">Classificar Serviço</button>
</div>

<div class="container">
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.Espera)"></div>
        <div class="text">Em Espera</div>
    </div>
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.EmReparacao)"></div>
        <div class="text">Em Reparação</div>
    </div>
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.ReparacaoConcluida)"></div>
        <div class="text">Reparação Concluida</div>
    </div>
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.ProntoParaEntrega)"></div>
        <div class="text">Pronto para Entrega</div>
    </div>
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.Entregue)"></div>
        <div class="text">Entregue</div>
    </div>
    <div class="option">
        <div class="circle @GetCircleClass(EstadoDoServico.Cancelado)"></div>
        <div class="text">Cancelado</div>
    </div>
</div>

<br />
<br />
<div class="row">
    <div class="col">
        Contactar oficina
        <form method="post" asp-action="ContactOficina">
            @Html.AntiForgeryToken()
            <input type="hidden" name="idServico" value="@Model.IdServico" />
            <br />
            <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required="">
            </div>
            <br />
            <div class="form-group">
                <textarea class="form-control" id="description" name="description" rows="5" placeholder="Descrição" required=""></textarea>
            </div>
            <br />
            <div class="form-group" align="right">
                <button type="submit" class="btn btn-primary" style="background-color: #45e745; border-color: #45e745; color:black">Enviar</button>
            </div>
        </form>
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.IdServico">Edit</a> |*@
    <a href="javascript:history.back()">Voltar</a>
</div>


@functions {
    string GetCircleClass(EstadoDoServico estado)
    {
        return estado.ToString() == Model.EstadoDoServico ? "green" : "";
    }
}
