@model CSSC.Models.Services

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ServiceModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServIdUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServIdUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServMarcaVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServMarcaVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServModeloVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServModeloVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServMatriculaVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServMatriculaVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServClassificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServClassificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServPrazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServPrazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDoServico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
