@model IEnumerable<CSSC.Models.Services>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #EAEAEA; /* Define a cor de fundo da página */
    }

    /* CSS para círculo laranja */
    .circle.colored {
        background-color: #E36D3F; /* Cor laranja */
        border-color: dimgrey;
    }

    .form-group {
        position: relative;
    }

    th, td {
        border-color: #808080; /* cor mais escura para os divisores da tabela */
    }
    
</style>

@if (User.IsInRole("Operador"))
{
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-primary" style="background-color: #E36D3F; border: 1px solid white;">Criar Serviço</a>
    </div>

}

<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.IdServico)
            </th>
            @if (User.IsInRole("Operador"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.csscUser.Email)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.ServPrazo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="expandable-row">
                <td>
                    @Html.DisplayFor(modelItem => item.IdServico)
                </td>
                @if (User.IsInRole("Operador"))
                {
                    <td>
                        @if (item.csscUser != null)
                        {
                            @Html.DisplayFor(modelItem => item.csscUser.Email)
                        }
                        else
                        {
                            <text>No User</text>
                        }
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.ServPrazo)
                </td>
                @if (User.IsInRole("Operador"))
                {
                    <td style="display: flex; align-items: center;">
                        <form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdServico" style="background-color: #E36D3F; border: 1px solid white;">Editar</button>
                        </form>
                        <form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.IdServico" style="background-color: #B22222; border: 1px solid white;">Remover</button>
                        </form>
                        @*<form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdServico">Details</button>
                        </form>*@
                        <button class="btn btn-secondary toggle-details-btn dropdown-toggle" data-target="#detailsContainer-@item.IdServico" style="background-color: white; color: black;"></button>
                    </td>

                }
            </tr>
            <tr class="hidden-row">
                <!--<td colspan="3">-->
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Serviço</strong></p>
                        <p><strong>Marca Veiculo:</strong> @item.ServMarcaVeiculo</p>
                        <p><strong>Modelo Veiculo:</strong> @item.ServModeloVeiculo</p>
                        <p><strong>Matricula Veiculo:</strong> @item.ServMatriculaVeiculo</p>
                        <p><strong>Prazo de serviço:</strong> @item.ServPrazo</p>
                    </div>
                </td>
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Cliente</strong></p>
                        <p><strong>Nome do cliente:</strong>@Html.DisplayFor(modelItem => item.csscUser.Email)</p>
                        <p><strong>Morada:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtMorada)</p>
                        <p><strong>Contacto:</strong> @Html.DisplayFor(modelItem => item.csscUser.PhoneNumber)</p>
                        <p><strong>NIF:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtNIF)</p>
                        <p><strong>Data de Nascimento:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtDataDeNascimento)</p>
                    </div>
                </td>
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Colaborador</strong></p>
                        <p><strong>Nome do Colaborador:</strong>@Html.DisplayFor(modelItem => item.csscOperador.Email)</p>
                        <p><strong>Contacto:</strong>@Html.DisplayFor(modelItem => item.csscOperador.PhoneNumber)</p>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="info-icon" style="width: 20px; height: 20px; right: 55px;">
                            <img src="/info-button.png" style="width: 100%; height: 100%;">
                        </span>
                        <span class="info-text" style="position: absolute; right: -60px; top: -38px;">Selecione um estado para atualizar.</span>
                        <p><strong>Atualizar estado:</strong></p>
                        <form asp-action="AtualizarEstado" method="post" style="display: flex; align-items: center;">
                            <input type="hidden" name="id" value="@item.IdServico"/>
                            <select asp-items="ViewBag.Types" name="EstadoDoServico" class="form-select" style="margin-right: 10px;" onchange="enableButton(this)">
                                <option disabled selected value="@item.EstadoDoServico">@item.EstadoDoServico</option>
                            </select>
                            <button type="submit" id="submitButton" class="btn btn-secondary ml-auto" style="background-color: #E36D3F; border: 1px solid white; text-shadow: 1px 1px 2px black;" disabled>Confirmar</button>
                        </form>
                    </div>
                    <div style="margin-top: 10px;">
                        <form asp-action="AgendarNotif" method="post">
                            <input type="hidden" name="id" value="@item.IdServico"/>
                            <button type="submit" class="btn btn-secondary" style="background-color: #E36D3F; border: 1px solid white;">Agendar notificação</button>
                        </form>
                    </div>
                </td>
            </tr>

        }
        
    </tbody>
</table>

<script>
    function enableButton(select) {
        var button = select.nextElementSibling; // Get the next sibling, which is the button
        button.disabled = select.value === '';
    }

    // Attach event listeners to all select elements with the specified class
    var selectElements = document.querySelectorAll('.form-select');
    selectElements.forEach(function (select) {
        select.addEventListener('change', function () {
            enableButton(this); // 'this' refers to the select element being changed
        });
    });
</script>