@model IEnumerable<CSSC.Models.Services>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Operador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
} 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdServico)
            </th>
            @if (User.IsInRole("Operador"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.csscUser.Email)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.ServPrazo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="expandable-row">
                <td>
                    @Html.DisplayFor(modelItem => item.IdServico)
                </td>
                @if (User.IsInRole("Operador"))
                {
                    <td>
                        @if (item.csscUser != null)
                        {
                            @Html.DisplayFor(modelItem => item.csscUser.Email)
                        }
                        else
                        {
                            <text>No User</text>
                        }
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.ServPrazo)
                </td>
                @if (User.IsInRole("Operador"))
                {
                    <td style="display: flex; align-items: center;">
                        <form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdServico">Editar</button>
                        </form>
                        <form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.IdServico">Remover</button>
                        </form>
                        @*<form style="margin-right: 10px;">
                            <button type="submit" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.IdServico">Details</button>
                        </form>*@
                        <button class="btn btn-secondary toggle-details-btn dropdown-toggle" data-target="#detailsContainer-@item.IdServico" style="background-color: white; color: black;"></button>
                    </td>

                }
            </tr>
            <tr class="hidden-row">
                <!--<td colspan="3">-->
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Serviço</strong></p>
                        <p><strong>Marca Veiculo:</strong> @item.ServMarcaVeiculo</p>
                        <p><strong>Modelo Veiculo:</strong> @item.ServModeloVeiculo</p>
                        <p><strong>Matricula Veiculo:</strong> @item.ServMatriculaVeiculo</p>
                        <p><strong>Prazo de serviço:</strong> @item.ServPrazo</p>
                    </div>
                </td>
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Cliente</strong></p>
                        <p><strong>Nome do cliente:</strong>@Html.DisplayFor(modelItem => item.csscUser.Email)</p>
                        <p><strong>Morada:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtMorada)</p>
                        <p><strong>Contacto:</strong> @Html.DisplayFor(modelItem => item.csscUser.PhoneNumber)</p>
                        <p><strong>NIF:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtNIF)</p>
                        <p><strong>Data de Nascimento:</strong> @Html.DisplayFor(modelItem => item.csscUser.UtDataDeNascimento)</p>
                    </div>
                </td>
                <td>
                    <div class="details-container" id="detailsContainer-@item.IdServico">
                        <p><strong>Colaborador</strong></p>
                        <p><strong>Nome do Colaborador:</strong>@Html.DisplayFor(modelItem => item.csscOperador.Email)</p>
                        <p><strong>Contacto:</strong>@Html.DisplayFor(modelItem => item.csscOperador.PhoneNumber)</p>
                    </div>
                </td>
                <td>
                    <form asp-action="AtualizarEstado" method="post">
                        <input type="hidden" name="id" value="@item.IdServico" />
                        <select name="EstadoDoServico" class="form-select">
                            <option disabled hidden value="">Selecione o Estado do Serviço</option>
                            @foreach (var estadoServico in Enum.GetValues(typeof(CSSC.Controllers.EstadoDoServico)))
                            {
                                if (estadoServico.ToString() == item.EstadoDoServico)
                                {
                                    <option value="@estadoServico" selected>@estadoServico</option>
                                }
                                else
                                {
                                    <option value="@estadoServico">@estadoServico</option>
                                }
                            }
                        </select>
                        <br />
                        <button type="submit" class="btn btn-secondary" style="background-color: forestgreen" asp-action="AgendarNotif" asp-route-id="@item.IdServico"> Agendar notificação</button>
                        <button type="submit" class="btn btn-secondary" style="background-color: forestgreen">Confirmar</button>
                    </form>


                </td>
            </tr>

        }
    </tbody>
</table>