@model IEnumerable<CSSC.Models.Services>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Operador"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Operador"))
            {
                <td>
                    @Html.DisplayNameFor(model => model.csscUser.Email)
                </td>
            }
            <th>
                @Html.DisplayNameFor(model => model.IdServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServPrazo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Operador"))
            {
                <td>
                    @if (item.csscUser != null)
                    {
                        @Html.DisplayFor(modelItem => item.csscUser.Email)
                    }
                    else
                    {
                        <text>No User</text>
                    }
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.IdServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServPrazo)
            </td>
            @if (User.IsInRole("Operador"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdServico">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdServico">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdServico">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
